<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="user">
    <map/>
    <node name="src">
      <map>
        <entry key="hasCreatedTable_HomeworkDesc" value="true"/>
        <entry key="hasCreatedDB_magsys" value="true"/>
        <entry key="hasPasswordRemembered" value="true"/>
        <entry key="hasCreatedTable_student" value="true"/>
        <entry key="hasCreatedTable_Teacher" value="true"/>
        <entry key="password" value="123456"/>
        <entry key="hasCreated_student" value="true"/>
        <entry key="hasCreatedTable_HomeworkSubmit" value="true"/>
        <entry key="hasCreatedTable_Student" value="true"/>
        <entry key="currentHWNumber" value="2"/>
        <entry key="hasCreated_magsys" value="true"/>
        <entry key="appInit" value="false"/>
        <entry key="appVersion" value="1.0"/>
        <entry key="hasAccountRemembered" value="true"/>
        <entry key="account" value="sy1"/>
      </map>
    </node>
  </root>
</preferences>
